{% extends 'base.html' %} {% block content %}
<div class="container" style="padding-top:2rem;padding-bottom:8rem">
 <div style="padding-bottom:4rem;">
  <h1 class="text-center">{{course.name}}</h1>
  </div>

  <style>
  .gradsbutton{
background: linear-gradient(90deg, rgba(4,95,154,1) 0%, rgba(17,182,255,1) 49%, rgba(0,212,255,1) 86%);
color:white;
font-weight:700;
border-radius:70px;
padding:12px 8px 12px 8px;
font-size:14px;
  }
  .gradstext{
font-weight:700;
color:rgba(0,0,0,0.4);
font-size:14px;

  }
  </style>

  <div class="row">
  {% comment %} #f9f7fc {% endcomment %}
  
    <div class="col text-center" style="width:5rem;background-color:#fff;box-shadow:1px 20px 10px rgba(0,0,0,0.1);border-radius:10px;padding-top:1rem;">
    <p ><h4 style="color:rgba(0,0,0,0.7)">Contents</h4></p>
    <div style="padding-top:1.4rem;text-align:left;letter-spacing:1.5px;">
    {% for c in courselist %}
    <a href="{% url 'usercourseupdate' c.course.slug c.part_no%}">
    {% if c.content.id == post.id %}
                    <span  class="btn btn-outline-primary text-left gradsbutton"  style="border-color:white;background-color:rgba(50,50,225,0.1);">{{c.part_no}}.{{c.content}}</span>

    {% comment %} <span class="text-primary" style="border-radius:50px;font-weight:500;font-size:1.1rem">{{c.part_no}}.{{c.content}}<br></span> {% endcomment %}
    {% else %}
                    <span class="btn btn-outline-primary text-left gradstext" style="color:#303030;opacity:80%;border-color:rgba(50,50,225,0.0);background-color:rgba(50,50,225,0.0)">{{c.part_no}}.{{c.content}}</span>
    
    {% comment %} <span style="font-weight:400;color:#303030">{{c.part_no}}. {{c.content}}<br></span> {% endcomment %}
        {% endif %}
</a>
    {% endfor %}

    
    </div>
    </div>
{% comment %}     
     <div class="col-lg-3 col-md-3">
                    <div class="portfolio-menu text-center mt-50">
                        <ul>
    {% for c in courselist %}
    <a href="{% url 'usercourseupdate' c.course.slug c.part_no%}">

    {% if c.content.id == post.id %}


                            <li data-filter="*" class="active">{{c.part_no}}.{{c.content}}</li>
                            {% else %}
                            <li data-filter="*" class="activ\e">{{c.part_no}}.{{c.content}}</li>

        {% endif %}
        </a>
     

    {% endfor %}
                           
                        </ul>
                    </div> <!-- portfolio menu -->
                </div> {% endcomment %}

    <div class="col col-auto " style="width:56rem;margin-left:2rem">
    
      <h3>{{post.title}}</h3>
      <p style="padding:1rem 0 1rem 0"> {{post.content |safe}}
      {% if course_status == 1 %}
      <h6>You have completed this course!</h6>
      <a class="btn btn-primary " href="{% url 'usercourseactivity' course.slug partno %}" style="color:white"><strong>View Certificate</strong> </a>
      {% else %}
      <a class="btn btn-primary " href="{% url 'usercourseactivity' course.slug partno %}" style="color:white"><strong>Next >></strong> </a>

      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
