{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top:2rem">

<div class="row">
<div class="col col-auto">
<h1>{{course.name}}</h1>
 <h4>{{course.description}}</h4>
 {% comment %} <span class="badge badge-light">{{course.category}}</span> {% endcomment %}
 {% comment %} <button type="button" class="btn btn-primary" style="border-radius:100px">
  Category <span class="badge badge-light">{{course.category}}</span>
  <span class="sr-only">{{course.category}}</span>
</button> {% endcomment %}

<button type="button" class="btn btn-sm my-2" style="border-radius:100px;background-color: #E7D5C7">
{{course.category}}
</button>
 <h5 style="margin-top:5rem">Benefits </h5>

 <p >  <h6>Profession: +{{course.profession_outcome}}</h6></p>
  <p ><h6>Interest: +{{course.interest_outcome}} </h6></p>
  <p ><h6>Hobby: +{{course.hobby_outcome}}</h6></p>
<div class="my-5">
 <a class="btn btn-lg btn-primary" style="color:white" href="{% url 'takecourse' course.id %}">Take Course </a>
</div>
</div>
<div class="col" style="width:20rem"> 
<img src="{{course.courseimage.url}}">

</div>
</div>

 
 
 

 {% for courses in courselist %}
 {{courses.part_no }} - {{courses.title}}
 {% endfor %}

</div>

{% endblock content %}