{% extends 'base.html' %}


{% block content %}

<style>
input{
  border: 2px solid rgba(0,0,100,0.2);
    border-radius:5px;
    padding:2px;
  
}

</style>
<div class="container" style="padding:2rem 0 2rem 0;margin-left:10rem">
  <h2>Sign up</h2>
  <form method="post" class="form-group">
    {% csrf_token %}
    {% for field in form %}
      <p>
        <strong>{{ field.label_tag }}</strong><br>
        {{ field }}
        {% if field.help_text %}
          <br><small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-lg btn-primary">Sign up</button>
  </form>
  </div>
{% endblock %}